.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 72.562358%;
    max-width: 960px;
}

#text {
    float: left;
    font-size: 2.9em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: 100;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: -0.00651042%;
    margin-top: 20px;
    clear: none;
    min-height: 0px;
    color: rgb(132, 132, 132);
    margin-right: 0px;
}

#text1 {
    float: left;
    font-size: 1em;
    width: 60%;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 2em;
    word-wrap: break-word;
    margin: 0px 0px 0px -0.046875px;
    clear: both;
    min-height: 0px;
    color: rgb(104, 104, 104);
}

#Header {
    float: left;
    height: 313px;
    margin: 0px;
    clear: none;
    width: 100%;
    max-width: 960px;
    padding-top: 144px;
    padding-bottom: 37px;
}

#box1 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 75%;
    margin-right: auto;
}

body {
    font-family: source-sans-pro;
    color: rgb(69, 69, 69);
    font-weight: 300;
}

#Content {
    float: left;
    height: 1023.609375px;
    margin-left: 0%;
    margin-top: 29px;
    clear: both;
    width: 100%;
    max-width: 960px;
    position: relative;
    top: 0px;
    left: 0px;
}

#Marquee {
    float: none;
    height: 1566.609375px;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 100%;
    margin-right: auto;
    padding: 72px 0px;
    border-top-color: rgb(224, 224, 224);
    border-top-width: 1px;
    border-top-style: solid;
}

#text3 {
    float: none;
    font-size: 3em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: 1.5em;
    word-wrap: break-word;
    margin: 0px auto;
    clear: none;
    min-height: 0px;
    color: rgb(0, 169, 230);
    padding: 0px 0px 20px;
    text-shadow: rgb(255, 255, 255) 0px -2px 5px;
}

#image {
    float: left;
    width: auto;
    height: auto;
    margin-left: 0.3108724%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    max-width: 49.739583%;
}

#image1 {
    float: left;
    width: auto;
    height: auto;
    margin-left: -0.00325521%;
    margin-top: 1px;
    clear: none;
    color: rgb(0, 0, 0);
    max-width: 49.635417%;
}

#text4 {
    float: left;
    font-size: 2.4em;
    width: 15.11556%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 17.496745%;
    margin-top: 16.09375px;
    clear: both;
    min-height: 68px;
    color: rgb(40, 94, 130);
}

#text5 {
    float: left;
    font-size: 2.4em;
    width: 17.691688%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 30.350104%;
    margin-top: 18.875px;
    clear: none;
    min-height: 68px;
    color: rgb(40, 94, 130);
    margin-right: 0%;
}

#text6 {
    float: none;
    font-size: 1.25em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 300;
    line-height: 1em;
    word-wrap: break-word;
    margin: 647.3125px auto 0px;
    clear: none;
    min-height: 72.8125px;
    color: rgb(0, 85, 116);
    padding: 0px;
    font-style: normal;
    display: block;
    border-top-color: rgb(0, 85, 116);
    border-top-width: 1px;
    border-top-style: solid;
}

#textspan2 {
    float: none;
    font-size: 0.85em;
    color: rgb(104, 104, 104);
}

#text7 {
    float: none;
    font-size: 1em;
    width: 640px;
    height: auto;
    text-align: center;
    font-weight: 300;
    line-height: 1.5em;
    word-wrap: break-word;
    margin: 10.1875px auto 0px;
    clear: none;
    min-height: 92px;
    color: rgb(104, 104, 104);
    padding: 0px;
    font-style: normal;
}

#hints-MQ {
    float: left;
    height: auto;
    clear: both;
    width: 97.999163%;
    position: fixed;
    top: auto;
    left: 0.98836121%;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 2px 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 2px 5px 0px;
    bottom: 8px;
    right: auto;
    z-index: 100;
    background-color: rgb(224, 224, 224);
}

#box {
    float: left;
    height: 30px;
    clear: none;
    width: 30px;
    position: absolute;
    top: -15px;
    bottom: auto;
    right: 55px;
    left: auto;
    z-index: 0;
    display: none;
    background-image:url("img/popover-tab.svg");
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#text8 {
    float: none;
    font-size: 1.25em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 300;
    line-height: 1em;
    word-wrap: break-word;
    margin: 41.40625px auto 0px;
    clear: none;
    min-height: 75.8125px;
    color: rgb(0, 85, 116);
    padding: 0px;
    font-style: normal;
    display: block;
    border-top-color: rgb(0, 85, 116);
    border-top-width: 1px;
    border-top-style: solid;
}

#text9 {
    float: left;
    font-size: 1em;
    width: 94.674479%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    margin-left: 2.760417%;
    margin-top: 17.75px;
    clear: none;
    min-height: 368px;
}

#textspan3 {
    float: none;
    font-size: 1.65em;
    line-height: 1em;
}

#textspan4 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 300;
}

#textspan5 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 300;
}

#textspan6 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 300;
}

#textspan7 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 300;
}

#textspan9 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 300;
}

#textspan8 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 400;
}

#textspan10 {
    float: none;
    font-size: 1em;
    line-height: 1em;
    font-weight: 300;
}

#text2 {
    float: left;
    font-size: 1em;
    width: 31.25%;
    height: auto;
    text-align: right;
    font-weight: 300;
    line-height: 1em;
    margin-left: 68.432617%;
    margin-top: 6px;
    clear: both;
    min-height: 27px;
    font-family: arimo;
}

@media only screen and (max-width: 960px) {
    .primaryContainer {
        width: 100%;
    }

    #Header {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
    }

    #Content {
        margin-top: 0px;
        margin-left: 0%;
        clear: both;
        height: 952.609375px;
    }

    #Marquee {
        padding-right: 2%;
        padding-left: 2%;
        height: 952.609375px;
        margin-left: auto;
        margin-right: auto;
    }

    #text7 {
        width: 60%;
    }

    #hints-MQ {
        display: block;
        top: auto;
        left: 0.99772135%;
        right: auto;
        bottom: 8px;
    }

    #image1 {
        margin-top: 73.40625px;
        margin-left: 9.860301%;
        clear: none;
        height: auto;
        width: auto;
        max-width: 41.713007%;
        margin-right: 0%;
    }

    #text5 {
        margin-top: 15.6875px;
        margin-left: 35.575749%;
        clear: none;
    }

    #text4 {
        margin-top: 15.6875px;
        margin-left: 17.494575%;
        clear: both;
    }

    #image {
        margin-top: 69.453125px;
        margin-left: 0.31025363%;
        clear: none;
        height: auto;
        width: auto;
        max-width: 42.20297%;
    }

    #text6 {
        margin-top: 547.125px;
        clear: none;
    }

    #text9 {
        margin-top: 17.75px;
        margin-left: 2.760417%;
        clear: none;
        margin-right: 0%;
        width: 94.674479%;
    }

    #text8 {
        width: 100%;
        margin-top: 0px;
        clear: both;
    }

    #text1 {
        margin-top: 0px;
        margin-left: 32.890625px;
        clear: both;
    }

    #text2 {
        margin-top: 0px;
        margin-left: 65.302734%;
        clear: both;
    }

    #text {
        margin-top: 26px;
        margin-left: 3.424479%;
        clear: none;
    }
}

@media only screen and (max-width: 768px) {
    #Header {
        margin-top: 12px;
        margin-left: 0px;
        clear: none;
        padding-top: 119px;
        height: 252px;
    }

    .primaryContainer {
        width: 100%;
    }

    #Content {
        margin-top: 21px;
        margin-left: 0%;
        clear: both;
        height: 960.578125px;
    }

    #Marquee {
        padding-right: 2%;
        padding-left: 2%;
        height: 868.578125px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        clear: none;
    }

    #image {
        height: auto;
        width: auto;
        max-width: 47.904039%;
        margin-top: 92px;
        margin-left: -97.957021%;
        clear: none;
    }

    #image1 {
        margin-top: 0.1875px;
        margin-left: 1.373289%;
        clear: none;
        margin-right: 0%;
        height: auto;
        width: auto;
        max-width: 47.904039%;
    }

    #text4 {
        margin-top: 17.75px;
        margin-left: 19.257831%;
        clear: both;
        height: auto;
        width: 17.691688%;
        min-height: 0px;
    }

    #text5 {
        margin-top: 17.75px;
        margin-left: 31.888696%;
        clear: none;
        height: auto;
        width: 17.691688%;
        min-height: 0px;
        margin-right: 0%;
    }

    #textspan1 {
        float: none;
        font-size: 0.9em;
        line-height: 1em;
    }

    #text6 {
        width: 75.000556%;
        margin-top: 41px;
        clear: both;
        margin-left: 14.508541%;
        float: left;
        margin-right: 0%;
    }

    #text7 {
        width: 75.000556%;
        margin-top: 0.1875px;
        clear: both;
        height: auto;
        min-height: 86.265625px;
        margin-left: 14.279659%;
        float: left;
    }

    #hints-MQ {
        top: auto;
        left: 0.99894206%;
        right: auto;
        bottom: -910.609375px;
    }

    #box {
        right: 55px;
        left: auto;
    }

    #text8 {
        width: 94.897461%;
        margin-top: 1364.578125px;
        clear: none;
        margin-left: 2.13623%;
        height: auto;
        margin-right: auto;
        min-height: 85.390625px;
    }

    #text9 {
        margin-top: 0px;
        margin-left: 2.543132%;
        clear: none;
    }

    #text {
        margin-top: 0px;
        margin-left: 3.422203%;
        clear: none;
    }

    #text1 {
        margin-top: 0px;
        margin-left: 18.828125px;
        clear: both;
        height: auto;
        min-height: 39px;
        width: 64.156087%;
    }

    #text2 {
        margin-top: 22px;
        margin-left: 0%;
        clear: none;
    }

    #text3 {
        margin-top: 0px;
        clear: none;
        height: auto;
        min-height: 73px;
        margin-left: -0.11020218%;
        float: left;
        margin-right: auto;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 480px) {
    #text {
        clear: none;
        margin-top: 11px;
        margin-left: 12.304688%;
        width: 75%;
        text-align: center;
        height: auto;
        min-height: 0px;
        margin-right: 0px;
    }

    #text1 {
        width: 75.009766%;
        text-align: center;
        height: auto;
        min-height: 88px;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 56.78125px;
        clear: both;
    }

    .primaryContainer {
        width: 100%;
    }

    #Header {
        margin-top: 24px;
        margin-left: 0px;
        clear: none;
        padding-top: 144px;
        padding-bottom: 65px;
        margin-right: 0px;
        height: 482px;
    }

    body {
        font-size: 24px;
    }

    #Content {
        margin-top: 63px;
        margin-left: 0%;
        clear: both;
        height: auto;
        margin-right: 0%;
    }

    #Marquee {
        margin-bottom: 72px;
        margin-left: 0%;
        width: 100%;
        padding-right: 2%;
        padding-left: 2%;
        height: auto;
        margin-right: auto;
    }

    #text3 {
        width: 90%;
        font-size: 2em;
        margin-top: 0px;
        margin-left: 2.885528%;
        clear: none;
    }

    #image {
        height: auto;
        width: auto;
        max-width: 89.264885%;
        margin-top: 48px;
        margin-left: 1.932728%;
        clear: none;
    }

    #image1 {
        margin-top: 18.671875px;
        margin-left: 0.63407026%;
        clear: both;
        height: auto;
        width: auto;
        max-width: 90.560152%;
    }

    #text4 {
        margin-top: 0px;
        margin-left: 0.30177675%;
        clear: both;
        margin-right: 0%;
        height: auto;
        min-height: 57px;
        width: 43.296487%;
    }

    #text5 {
        margin-top: 5.84375px;
        margin-left: 1.122338%;
        clear: both;
        margin-right: 0%;
        height: auto;
        min-height: 59px;
        width: 43.296487%;
    }

    #text6 {
        width: 96.002604%;
        font-size: 0.75em;
        margin-top: 90px;
        clear: both;
        height: auto;
        min-height: 0px;
        margin-left: 2.292147%;
        float: left;
        margin-right: 0%;
    }

    #textspan2 {
        font-size: 1em;
    }

    #text7 {
        width: 96.002604%;
        font-size: 0.85em;
        margin-top: 16px;
        clear: both;
        margin-left: 2.882138%;
        float: left;
        margin-right: 0%;
    }

    #hints-MQ {
        display: block;
        left: 0.99934896%;
        -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 5px 0px;
        box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 5px 0px;
        bottom: -512px;
    }

    #text8 {
        width: 92.165%;
        font-size: 0.75em;
        margin-top: 117px;
        clear: none;
        height: auto;
        min-height: 0px;
        margin-left: 3.079427%;
        float: left;
        margin-right: 0%;
    }

    #text2 {
        margin-top: 0px;
        margin-left: 55.660807%;
        clear: both;
        height: auto;
        min-height: 0px;
        width: 39.583333%;
    }

    #text9 {
        height: auto;
        min-height: 786px;
        margin-top: 17.75px;
        margin-left: 4.772135%;
        clear: both;
        margin-right: 0%;
        width: 90.889965%;
    }

    #textspan {
        float: none;
        font-size: 0.9em;
        line-height: 1em;
    }
}

